@{
    ViewData["Title"] = "Create profile";
}

@model IGATAPCODE.Models.Teacher
<h2>Add profile information with picture</h2>

@using (Html.BeginForm("Create", "IGATAPCODE", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
    <br />
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    <br />
    @Html.LabelFor(model => model.Bio)
    @Html.TextBoxFor(model => model.Bio)
    <br />
    @Html.LabelFor(model => model.Picture)
    <input type="file" id="picture" name="picture" required />

    <input type="submit" value="Create" />
}
